<launch>

  <arg name="robot_configuration" default="default_arm" />

  <arg name="load_robot_description" default="false"/>
  <arg name="robot_description" default="robot_description"/>

  <!-- Load robot description (URDF and SRDUF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" textfile="$(find klwr_description)/urdf/$(arg robot_configuration)/kuka_lwr.urdf"/>
  <param name="$(arg robot_description)_semantic" textfile="$(find klwr_moveit_config)/config/$(arg robot_configuration)/kuka_lwr.srdf" />
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find klwr_moveit_config)/config/$(arg robot_configuration)/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find klwr_moveit_config)/config/$(arg robot_configuration)/kinematics.yaml"/>
  </group>
  
</launch>
